/**
 * Basic typography style for copy text
 */
@import url(https://fonts.googleapis.com/css?family=Lato:300italic);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300";
html,
body {
  height: 100%;
}

body {
  background: #a27bcc;
  background: -moz-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #a27bcc), color-stop(100%, #6c5299));
  background: -webkit-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
  background: -o-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
  background: -ms-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
  background: radial-gradient(ellipse at center, #a27bcc 0%, #6c5299 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a27bcc", endColorstr="#6c5299",GradientType=1 );
}

/* ============================================== POSITION
*/
.container {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.fa-gift {
  font-size: 500px;
  color: #28a745;
}

p {
  color: #6c5299;
  font-size: 6em;
  text-align: center;
}

.btnRafraichir {
  display: none;
}

.cake {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  width: 500px;
  height: 500px;
}

/* ============================================== BASE
*/
.cake:after {
  background: #ebe3e1;
  border-radius: 500px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500px;
  height: 10px;
}

/* ============================================== Candle
*/
.velas {
  background: white;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -41.6666666667px;
  width: 25px;
  height: 83.3333333333px;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 11.1111111111px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -16.6666666667px;
  width: 33.3333333333px;
  height: 62.5px;
}

.fuego:nth-child(1) {
  animation: fuego 2s infinite;
}

.fuego:nth-child(2) {
  animation: fuego 1.5s infinite;
}

.fuego:nth-child(3) {
  animation: fuego 1s infinite;
}

.fuego:nth-child(4) {
  animation: fuego 0.5s infinite;
}

.fuego:nth-child(5) {
  animation: fuego 0.2s infinite;
}

/* ============================================== Animation Fire
*/
@keyframes fuego {
  0% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    transform: translateY(-100px) scale(0);
  }
  100% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1);
  }
}
/* ============================================== Frosting
*/
.cobertura {
  background: #ece7e3;
  border-radius: 250px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -138.8888888889px;
  margin-top: -25px;
  width: 277.7777777778px;
  height: 62.5px;
  z-index: 10;
}

.cobertura:after,
.cobertura:before {
  background: #ece7e3;
  border-radius: 500px;
  content: "";
  position: absolute;
  width: 25px;
  height: 50px;
}

.cobertura:after {
  top: 33.3333333333px;
  right: 71.4285714286px;
}

.cobertura:before {
  top: 50px;
  right: 45.4545454545px;
}

/* ============================================== BIZCOCHO
*/
.bizcocho {
  background: #6d3826;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  height: 166.6666666667px;
}

.bizcocho:after,
.bizcocho:before {
  background: rgba(236, 231, 227, 0.6);
  content: "";
  position: absolute;
  width: 100%;
  height: 25px;
}

.bizcocho:after {
  top: 30%;
  left: 0;
}

.bizcocho:before {
  top: 60%;
  left: 0;
}

/* ============================================== TEXT
*/
h1 {
  color: #6c5299;
  font-size: 6em;
  text-align: center;
  display: none;
}

.btn-wrapper {
  display: none;
  position: fixed;
  top: calc(50% - 22px);
  left: 0;
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  box-shadow: none;
  appearance: none;
  border: 0;
  outline: 0;
  background-color: #00f0a8;
  height: 45px;
  line-height: 42px;
  padding: 0 30px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1);
  user-select: none;
}
.btn:hover {
  transform: scale(1.1, 1.1);
}
.btn:active {
  transform: scale(1.05, 1.05);
}

/*# sourceMappingURL=style.css.map */
